{% extends "layouts/layout.html" %}

{% block content %}

<h4 class="mb-4">Favorites</h4>
<div class="row">
    {% for note in notes %}
    <div class="col-md-3">
        <div class="card">
            <a href="/category/notes/{{ category.id }}">
            <div class="card-body pb-3">
                <h5 class="card-title">{{ note.title }}</h5>
                <p class="card-text">{{ note.content }}.</p>
            </div>
            </a>
            <div class="text-right icons">
                <i class="material-icons pr-2 pb-1"><a href="/category/editCategoryForm/{{ category.id }}">edit</a></i>
                <i class="material-icons pr-2 pb-1"><a href="/category/deleteCategory/{{ category.id }}">delete</a></i>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
{% block js %}
<script>
    $(document).ready(function () {
        $('.card-title').text(function () {
            return $(this).text().substring(0, 18) + '...';
        });
        $('.card-text').text(function () {
            return $(this).text().substring(0, 130) + '...';
        });
    });
</script>
{% endblock %}